.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}


.active {
    background-color: $green;
    color: white !important;
}

.active-icon {
    opacity: 1 !important;
    border-bottom: 2px solid $green;
    @include mid-break {
        border-bottom: none;
        border-left: 2px solid $green;
    }
}

h4 {
    grid-area: name;
    margin: 0;
}

h5 {
    grid-area: number;
    margin: 0;
}

// Bell Icon Notification
.bell-notification {
    display: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    top: 6.4%;
    right: 5%;
    width: 35%;
    height: auto;
    background-color: rgba(255, 255, 255, .95);
    color: black;
    position: absolute;
    z-index: 3;
    a {
        font-size: .7em;
    }
    span {
        font-weight: 200;
    }
}
