.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}


.active {
    background-color: $green;
    color: white !important;
}

.active-icon {
    opacity: 1 !important;
    border-bottom: 2px solid $green;
    @include mid-break {
        border-bottom: none;
        border-left: 2px solid $green;
    }
}

h4 {
    grid-area: name;
    margin: 0;
}

h5 {
    grid-area: number;
    margin: 0;
}

