.icon {
    width: 25px;
    height: 25px;
    fill: white;
    opacity: .55;
    transition: opacity .4s ease;
    cursor: pointer;
}

.bell-icon {
    padding: 0 15px;
    margin: auto 0;
    transform-origin: 50% 50%;
    transition: transform .5s ease, opacity .4s ease;
    &:hover {
        opacity: 1;
        animation: bell-swing .7s ease;
    }
}

.nav-icon {
    padding: 15px;
    margin: 0 auto;
    border-radius: 3px;
    &:hover {
        opacity: 1;
    }
}


// Close button borrowed from https://codepen.io/jermbo/pen/eztFu and slightly modified 
.close-button {
    width: 30px;
    height: 30px;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: $nav-color;    
    position: relative;
    &:hover {
        cursor: pointer;
    }
  }
  .close-button:before,
  .close-button:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 46%;
    left: 23%;
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
  }
  .close-button:after {
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
  }
  .close-button:hover:before,
  .close-button:hover:after {
    transform: rotate(180deg);
  }