@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600|Saira+Stencil+One&display=swap');

$header-color: rgb(72, 167, 255);
$nav-color: rgb(36, 113, 185);

$secondary-font: 'Saira Stencil One', cursive;
$primary-font: 'Raleway', sans-serif;